@font-face {
    font-family: "Newgrounds";
    src: url("font/NewgroundsFont-Regular.otf") format('opentype');
}

@font-face {
    font-family: "JetBrains Mono";
    src: url("font/JetBrainsMono-Regular.ttf") format("tff");
}

body {
    background-color: #ffdfba;
}

h1 {
    width: 60%;
    height: auto;
    margin-left: 2.5%;
    margin-top: 5%;
    position: absolute;
    font-size: 100px;
    font-family: 'Newgrounds', Fallback, sans-serif;
    font-style: italic;
}

#welcome-face {
    float: right;
    text-align: right;
}

#welcome-face>img {
    margin-right: 64px;
}

.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
    margin-bottom: 7.5%;
}

p {
    font-family: "JetBrains Mono";
}

.section-marker {
    text-align: center;
    font-family: "Newgrounds";
    font-size: 32px;
    height: 10%;
    /* margin-bottom: 0%; */
    clear: both;
}

#intro-blurb {
    margin: 0%;
    margin-bottom: 30px;
    text-align: left;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
}

@keyframes darken {
    0% {
        filter: brightness(100%);
    }

    100% {
        filter: brightness(50%);
    }
}

.thumbnail {
    max-width: 100%;
    max-height: 100%;

    filter: brightness(100%);
}
#info {
    position: absolute;
    color: rgba(255, 255, 255, 0);
    top: 0%;
    text-align: left;
    padding-left: 2%;
    font-size: 14px;
    user-select: none; /* supported by Chrome and Opera */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
}

.game {
    margin: 25px;
    text-align: center;
    width: 320px;
    height: 180px;
    position: relative;
}

.game-title {
    margin-top: 5px;
}