body {
    background-color: #d6cbbf;
}

.welcome-face {
    position: relative;
    float: right;
    /* left: 75%; */
}

.container {
    display: flex;
    flex-flow: row wrap;
    /* margin: 50px; */
    width: 100%;
}

.game {
    margin: 25px;
    text-align: center;
}

.game-title {
    margin-top: 5px;
}

.thumbnail:hover {
    animation: darken 1s;
}

@keyframes darken {
    100% {
        color: rgb(50, 50, 50);
    }
}