{% macro navbar_item(icon_path, page) %}
        <div class="navbar-item"
             onclick="window.location.assign('{{ page }}')">
                <img src={{ get_url(path=icon_path) }}>
        </div>
{% endmacro navbar_item %}

<!DOCTYPE html>

<html lang="en">

<head>
        <meta charset="utf-8">
        <title>Jeremy Gordon</title>
        <link href={{ get_url(path="style.css") }} rel="stylesheet">
</head>

<body>
        <div id="navbar">
                {{  self::navbar_item(icon_path="images/home.png", page="/")  }}
                {{  self::navbar_item(icon_path="images/code.png", page="/code")  }}
                {{  self::navbar_item(icon_path="images/art.png", page="/art")  }}
        </div>
        
        <div class="content">{% block content %} {% endblock content %}</div>
</body>

</html>
