{% macro navbar_item(icon_path, page) %}
        <div class="navbar-item"
             onclick="window.location.assign('{{ page }}')">
                <img src={{ get_url(path=icon_path) }}>
        </div>
{% endmacro navbar_item -%}

<!DOCTYPE html>

<html lang="en">

<head>
        <meta name="viewport" charset="utf-8" content="width=device-width, initial-scale=1.0">
        <title>Jeremy Gordon</title>
        <link href={{ get_url(path="styles/style.css") }} rel="stylesheet">
        <link href={{ get_url(path="styles/gallery.css") }} rel="stylesheet">
        <link rel="icon" type="image/x-icon" href={{ get_url(path="images/icon.png") }}>
</head>

<body>
        <div id="navbar">
                {{  self::navbar_item(icon_path="images/home.png", page="/")      }}
                {{  self::navbar_item(icon_path="images/code.png", page="/code")  }}
                {{  self::navbar_item(icon_path="images/art.png", page="/art")    }}
                {{  self::navbar_item(icon_path="images/blog.png", page="/blog")  }}
        </div>


        <div class="content">
                {% block content %} {% endblock content %}
        </div>
        <script src="js/main.js"></script>
</body>

</html>
